.hidden {
    display: none;
}

/* bg */
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url('./img/va.jpg');
    background-size: cover;
}

#logo {
    position: relative;
    height: 800px;
    width: 3200px;
}

#login_button {
    position: relative;
    height: 800px;
    width: 3200px;
}

#transcendence {
    position: absolute;
    right: 100px;
    top: 55%;
    font-family: 'MapleStory OTF';
    font-weight: bolder;
    font-size: 150px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    -webkit-text-stroke: 8px black;
}

#leaf {
    position: absolute;
    right: 100px;
    width: 500px;
    height: auto;
}

#board {
    position: absolute;
    right: 100px;
    width: 420px;
    bottom: 5%;
}

#loginBtn {
    position: absolute;
    right: 190px;
    top: 40%;
    font-family: 'MapleStory OTF';
    font-weight: bolder;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    -webkit-text-stroke: 10px brown;
}

/* logo 1 */

/* position: absolute;
width: 237px;
height: 314px;
left: 1140px;
top: 89px;

background: url(logo.png); 
 */
